.accordion {
    background-color: #ccc;
    color: rgb(27, 34, 66);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
.active, .accordion:hover {
    background-color: rgb(204, 215, 238);
  }
  
 .panel {
    padding: 0 18px;
    background-color: rgb(204, 215, 238);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  body{
    font-family: 'Poppins', sans-serif;
    background: #fafafa;   
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
a,
a:hover,
a:focus{
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


/*Side Bar*/

.wrapper{
    display: flex;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebarCollapse{
    float: left;
}

#sidebar{
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar active{
    margin-left: -250px;
}

#sidebar.siderbar-header{
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components{
    padding: 20px 0;
    border-bottom: solid #47748b;
}

#sidebar ul p{
    color: #fff;
    padding: 10px;
}

#sidebar ul li a{
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover{
    color:#7386D5;
    background: #fff; 
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #c6cbe2;
}

a[data-toggle="collapse"]{
    position: relative;
}

.dropdown-toggle::after{
     display: block;
     position: absolute;
     top: 50%;
     right: 20%;
     transform: translateY(-50%);
}

ul ul a{
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #959fc9;
}

#content{
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#thumb{
    width: 200px;
    height: 200px;

}

body {
overflow-x: hidden;
}
body {
padding-top: 56px;
}
.offcanvas-collapse {
position: fixed;
top: 56px;
bottom: 0;
right: 100%;
left: -300px;
width: 300px;
padding-right: 1rem;
padding-left: 1rem;
overflow-y: auto;
visibility: hidden;
background-color: /*#343a40*//*#f8f9fa*/#155592;
transition-timing-function: ease-in-out;
transition-duration: .3s;
transition-property: left, visibility;
}

.offcanvas-collapse {
align-items: start;
-moz-background-clip: padding;
-webkit-background-clip: padding;
background-clip: padding-box;
border-right: 5px solid rgba(0, 0, 0, 0.2);

}

.offcanvas-collapse.open {
left: 0;
visibility: visible;
}

.navbar-expand-lg .navbar-nav {
-ms-flex-direction: column;
flex-direction: column;
}

.nav-scroller {
position: relative;
z-index: 2;
height: 2.75rem;
overflow-y: hidden;
}
.nav-scroller .nav {
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: nowrap;
flex-wrap: nowrap;
padding-bottom: 1rem;
margin-top: -1px;
overflow-x: auto;
color: rgba(255, 255, 255, .75);
text-align: center;
white-space: nowrap;
-webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
padding-top: .75rem;
padding-bottom: .75rem;
font-size: .875rem;
color: #6c757d;
}

.nav-underline .nav-link:hover {
color: #007bff;
}

.nav-underline .active {
font-weight: 500;
color: #343a40;
}

